* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word; 
}


a {
  color: #ffffff;
  font-family: "Lucida Console", Courier, monospace;
  text-transform: uppercase;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  /*background-image: url(./assets/bg-page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}

.inner {
    background-color: whitesmoke;
    /*background-color:lavender;*/
  /*background-color: rgba(255, 231, 231, 0.7);*/
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 50px;
}

ul {
  list-style-type: none;
}

#newone {
  padding-top: 40px;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: auto;
}


.gallery-title {
  font-size: 36px;
  color: black;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}

  .gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
  }

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}

div > img{
    width: 365px;
    height: 365px;
}
