<div class="wrapper z-depth-5">
    <div class="inner">
        <h3 class="font-weight-bold text-center dark-grey-text">Групи</h3>
        <!-- FIRST GROUP -->
        <div class="container my-5 py-5 z-depth-2">

            <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
        
              <div class="row">
                <div class="col-lg-12 mb-4 mb-lg-0 text-center">
                  <h3 class="font-weight-bold">Яслена група - „Слънце”</h3>
                 <hr />
                    <p class="font-weight-bolder">Медицински сестри: Любов Стайкова , Кера Вълчева</p>
                    <p class="font-weight-bolder">Пом. възпитател – Димитрина Праматарова</p>
                </div>
              </div>
            </section>
        </div>  

        <div class="container my-5 py-5 z-depth-2">

            <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
        
              <div class="row">
                <div class="col-lg-12 mb-4 mb-lg-0 text-center">
                  <h3 class="font-weight-bold">Първа възрастова група – „Дъга”</h3>
                 <hr />

                    <p class="font-weight-bolder">Учители: Маргарита Богданова,  Ирина Зангочева</p>
                    <p class="font-weight-bolder">Пом. възпитател: Златка Матева</p>
                </div>
              </div>
            </section>
        </div>  

        <div class="container my-5 py-5 z-depth-2">

            <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
        
              <div class="row">
                <div class="col-lg-12 mb-4 mb-lg-0 text-center">
                  <h3 class="font-weight-bold">Втора възрастова група – „Бърборани”</h3>
                 <hr />

                    <p class="font-weight-bolder">Учители: Маргарита Хърсева, Таня Кетенева</p>
                    <p class="font-weight-bolder">Пом. възпитател: Роза Сепетлиева</p>
                </div>
              </div>
            </section>
        </div>  

        <div class="container my-5 py-5 z-depth-2">

            <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
        
              <div class="row">
                <div class="col-lg-12 mb-4 mb-lg-0 text-center">
                  <h3 class="font-weight-bold">Трета  възрастова група - „Буратино”</h3>
                 <hr />

                    <p class="font-weight-bolder">Учители:  Димитрина Господинова, Живка Борисова</p>
                    <p class="font-weight-bolder">Пом. възпитател: Марияна Караколева</p>
                </div>
              </div>
            </section>
        </div>  

        <div class="container my-5 py-5 z-depth-2">

            <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
        
              <div class="row">
                <div class="col-lg-12 mb-4 mb-lg-0 text-center">
                  <h3 class="font-weight-bold">Четвърта възрастова група - „Любознайко”</h3>
                 <hr />

                    <p class="font-weight-bolder">Учители:  Гергана Чакърова, Веселина Иванова</p>
                    <p class="font-weight-bolder">Пом. възпитател: Детелина Кьосева </p>
                </div>
              </div>
            </section>
        </div>  
</div>
