<div class="wrapper z-depth-5">
  <div class="inner">
    <h3 class="font-weight-bold dark-grey-text text-center">Бюджет</h3>

    <div class="container">

      <div style="overflow-x:auto;" class="row pt-4">
        <div class="col">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Име</th>
                <th scope="col">Размер</th>
                <th scope="col">Действие</th>
              </tr>
            </thead>
            <tbody>

              <tr id="{{document.id}}" *ngFor="let document of documents" (click)="downloadFile">

                <td>{{document.name}}</td>
                <td>{{document.size}} B</td>
                <td>
                  <div style="overflow-x:auto;" class="btn-group" role="group" aria-label="Basic example">
                    <a href="https://api.dgivaylovgrad.com/api/document/download/{{document.id}}" class="btn btn-success">Изтегли</a>
                    <button *ngIf="this.user" class="btn-danger" (click)="deleteFile(document.id, document.name)">Премахни</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div [hidden]="!loading" class="text-center font-weight-bold h5">
            <span class=" mr-1">Зареждане... </span>
            <span class="spinner-border mr-1"></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

