<div class="wrapper z-depth-5">
    <div class="inner">
        <h3 class="font-weight-bold text-center dark-grey-text">Галерия</h3>
        <hr />
        <!-- Grid row -->
<div class="row">

  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="gallery" id="gallery">
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="/ClientApp/src/assets/galery/125382338_282031566569651_3928424611702041710_n.png" alt="Card image cap">
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="/ClientApp/src/assets/galery/125410728_998554470629000_2711011147489176551_n.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="/ClientApp/src/assets/galery/125479293_3611120672243795_3043287786205031643_n.png" alt="Card image cap">
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="/ClientApp/src/assets/galery/3.png" alt="Card image cap">
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="/ClientApp/src/assets/galery/5.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="/ClientApp/src/assets/galery/7.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
    </div>
    
</div>
